@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("./root.css");
@font-face {
  font-family: "recharge";
  src: url(../font/recharge_bd.ttf);
}
.font-recharge {
  font-family: "recharge";
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  list-style-type: none !important;
  text-decoration: none !important;
  box-sizing: border-box;
  transition: all 300ms linear;
}

.My-container {
  max-width: 1140px !important;
}
.Ai-container {
  max-width: 1180px !important;
}
.slider-container {
  max-width: 1264px !important;
}

.hero-gradiunt {
  position: absolute;
  bottom: 0%;
}

/* spacing */

.gap-20 {
  gap: 20px;
}
.pt-125 {
  padding-top: 125px;
}
.px-100 {
  padding-left: 100px;
  padding-right: 100px;
}
.py-163 {
  padding-top: 163px;
  padding-bottom: 163px;
}
.my-160 {
  margin-top: 160px;
  margin-bottom: 160px;
}

.px-72 {
  padding-left: 72px;
  padding-right: 72px;
}
.py-43 {
  padding-top: 43px;
  padding-bottom: 43px;
}
.pt-145 {
  padding-top: 145px;
}

.pt-96 {
  padding-top: 96px;
}
.pl-78 {
  padding-left: 78px;
}
.mt-60 {
  margin-top: 60px !important;
}
.pt-248 {
  padding-top: 248px;
}

.ml-10 {
  margin-left: 10px;
}
.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.my-16 {
  margin-top: 16px;
  margin-bottom: -16px;
}
.pt-28 {
  padding-top: 28px;
}
.pt-48 {
  padding-top: 48px;
}
.pl-48 {
  padding-left: 48px;
}
.pb-90 {
  padding-bottom: 90px;
}
.mb-20 {
  margin-bottom: 20px;
}

/* btn */
/* .btn-commn {
  padding: 18px 32px;
  border-radius: 12px;
  background-color: #02cdcf;
  color: black;
  border: none;
} */
.btn-commn {
  padding: 18px 32px;
  border: 0;
  border-radius: 12px;
  background-color: #02cdcf;
  color: #000;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.btn-commn:hover {
  background-color: #02cdcf;
  box-shadow: 0 0 20px #b4b4b4;
  transform: scale(1.1);
}

.btn-commn:active {
  background-color: #02cdcf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

/* background */

.bg-hero {
  background-image: url("../image/bg-hero-img.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.nexai-img {
  background-image: url("../image/ai-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.footer-img {
  background-image: url("../image/footer-img.webp");
  background-repeat: no-repeat;
  background-position: center;
}

.unique-img {
  background-image: url("../image/scroll_bg.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.bg-poligunbg {
  background-image: url("../image/poligan-img.webp");
  background-repeat: no-repeat;
  background-position: center;
}

/* min-hight */

.min-h-810 {
  min-height: 598px;
}
.max-w-577 {
  max-width: 577px;
}
.max-w-1340 {
  max-width: 1340px;
}
.max-w-564 {
  max-width: 564px;
}
.max-w-912 {
  max-width: 912px;
}
.max-w-340 {
  max-width: 340px;
}
.max-w-517 {
  max-width: 517px;
}
.max-w-356 {
  max-width: 356px;
}
.h-500 {
  height: 500px;
}
.max-w-997 {
  max-width: 997px;
}
.max-w-684 {
  max-width: 684px;
}
.w-100 {
  width: 100%;
}
.w-350 {
  width: 350px;
}
.h-365 {
  height: 365px;
}
.w-58 {
  width: 58px;
}
.h-58 {
  height: 58px;
}
.max-w-212 {
  max-width: 212px;
}
.max-w-612 {
  max-width: 612px;
}
.max-w-202 {
  max-width: 202px;
}

/* shadow */

.Cardshadow {
  box-shadow: 0px 4px 20px 0px #02cdcf29;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 12px;
}

/* footerline */

.footer-line {
  width: 1440px;
  height: 3px;
  border-radius: 16px;
  background-color: #676d6d;
}

/* other */
.unique-card {
  border-radius: 16px;
  background-color: white;
  max-width: 364px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: 0.4s !important;
}
.unique-card:hover > h3 {
  color: #02cdcf !important;
}
.unique-card .no-scroll::-webkit-scrollbar {
  display: none;
}
.no-scroll::-webkit-scrollbar {
  display: none;
}

.card-radius {
  border-radius: 32px;
}
.small-circle {
  border-radius: 100%;
}

.whitedot::before {
  content: "";
  position: absolute;
  display: flex;
  width: 24px;
  height: 24px;
  background-color: #fff;
  border-radius: 100%;
  top: 32px;
  left: -2px;
}

.overflow-x-clip {
  overflow-x: clip;
}

.tokenCard {
  height: 512px;
  overflow-x: scroll;
}
.uniqueLine::before {
  content: "";
  position: absolute;
  display: flex;
  width: 8px;
  height: 95%;
  border-radius: 15px;
  top: 67px;
  left: 5px;
  background-color: #02cdcf;
}

.poligan-card {
  background-image: url("../image/poligan-img.webp");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  max-width: 367px;
  min-height: 367px !important;
  transition: all 300ms linear !important;
}
.poligan-card:hover > h4 {
  color: #02cdcf !important;
}

.poligin-circle {
  background: #040404;
  width: 58px;
  height: 58px;
  box-shadow: 0px 4px 16px 0px #02cdcf99 inset;
  border-radius: 50%;
}

.ms_auto {
  margin-right: unset !important;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}
.px_3 {
  padding-left: 12px;
  padding-right: 12px;
}
.py_20 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.sliderCard {
  height: 140px;
  border-radius: 16px;
  background: #090909;
  box-shadow: 0px 4px 20px 0px rgba(2, 205, 207, 0.16) !important;
  transition: all 9s linear !important;
}

.px_43 {
  padding-left: 43px;
  padding-right: 43px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}
@keyframes preloder_one {
  0% {
    transform: scale(1.1);
  }

  15% {
    transform: scale(0.9);
  }

  30% {
    transform: scale(1.2);
  }

  45% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.3);
  }

  75% {
    transform: scale(0.9);
  }

  90% {
    transform: scale(1.3);
  }
}

/* nav */
ul {
  padding-left: unset !important;
}

.cross-1 {
  rotate: 45deg;
  transition: 0.4s;
}

.cross-2 {
  position: relative;
  transition: 0.4s;
  top: -80%;
  rotate: -45deg;
}

.cross-3 {
  display: none !important;
}

.cross-4 {
  transition: 0.4s;
}

.cross-5 {
  transition: 0.4s;
}

.cross-6 {
  transition: 0.4s;
}

.flow-hidden {
  overflow: hidden;
}

.f-line::before {
  content: "";
  position: absolute;

  width: 0;
  height: 2px;
  border-radius: 15px;
  background: #fff;
  right: 0;
  bottom: -10%;
  transition: 0.5s;
}

.f-line:hover::before {
  width: 100%;
  left: 0;
}

/* elipes */

.ai-elipes {
  border-radius: 303.657px;
  opacity: 0.4;
  background: #02cdcf;
  filter: blur(100px);
  width: 231px;
  height: 231px;
  flex-shrink: 0;
  position: absolute;
  top: 31%;
  left: -3%;
}
.ai-elipes2 {
  border-radius: 303.657px;
  opacity: 0.4;
  background: #02cdcf;
  filter: blur(100px);
  width: 231px;
  height: 231px;
  flex-shrink: 0;
  position: absolute;
  top: 31%;
  right: -3%;
}
.unique-elipes {
  border-radius: 303.657px;
  opacity: 0.4;
  background: #02cdcf;
  filter: blur(60px);
  width: 262px;
  height: 262px;
  flex-shrink: 0;
  position: absolute;
  top: 17%;
  right: -9%;
}
.unique-elipes2 {
  border-radius: 303.657px;
  opacity: 0.4;
  background: #02cdcf;
  filter: blur(60px);
  width: 262px;
  height: 262px;
  flex-shrink: 0;
  position: absolute;
  left: -9%;
  bottom: 0;
}
.nexai-elipes {
  border-radius: 303.657px;
  opacity: 0.4;
  background: #02cdcf;
  filter: blur(60px);
  width: 228px;
  height: 228px;
  flex-shrink: 0;
  position: absolute;
  left: -9%;
  bottom: 0;
}
.nexai-elipes2 {
  opacity: 0.4;
  background: #02cdcf;
  filter: blur(76px);
  width: 228px;
  height: 228px;
  flex-shrink: 0;
  position: absolute;
  right: 9%;
  bottom: 18%;
  z-index: 10;
}
.token-elipes {
  opacity: 0.4;
  background: #02cdcf;
  filter: blur(76px);
  width: 228px;
  height: 228px;
  flex-shrink: 0;
  position: absolute;
  right: -9%;
  top: 24%;
}
.token-elipes4 {
  opacity: 0.4;
  background: #02cdcf;
  filter: blur(76px);
  width: 228px;
  height: 228px;
  flex-shrink: 0;
  position: absolute;
  right: -9%;
  bottom: -17%;
}
.token-elipes2 {
  opacity: 0.4;
  background: #02cdcf;
  filter: blur(76px);
  width: 228px;
  height: 228px;
  flex-shrink: 0;
  position: absolute;
  left: -9%;
  top: 2%;
}
.token-elipes3 {
  opacity: 0.4;
  background: #02cdcf;
  filter: blur(76px);
  width: 228px;
  height: 228px;
  flex-shrink: 0;
  position: absolute;
  left: -9%;
  bottom: -6%;
}
.half-right-circle {
  position: absolute;
  top: -16%;
  right: 0;
}
.half-right-circle2 {
  position: absolute;
  bottom: 0%;
  right: 0;
}
.blockchain-elipes {
  opacity: 0.4;
  background: #02cdcf;
  filter: blur(100px);
  width: 302px;
  height: 262px;
  flex-shrink: 0;
  position: absolute;
  left: -9%;
  bottom: 20%;
}
.blockchain-elipes2 {
  opacity: 0.4;
  background: #02cdcf;
  filter: blur(100px);
  width: 302px;
  height: 262px;
  flex-shrink: 0;
  position: absolute;
  right: -9%;
  top: 3%;
}
.right-blockchain {
  position: absolute;
  right: 0%;
  top: -2%;
}
.does-elipes {
  opacity: 0.4;
  background: #02cdcf;
  filter: blur(100px);
  width: 302px;
  height: 262px;
  flex-shrink: 0;
  position: absolute;
  right: -9%;
  top: 0%;
}

/* preloder */

.loader_bg {
  z-index: 9;
}

.d_none {
  display: none !important;
}
.pri-style {
  animation: preloder_one 7s infinite;
}

/* backtotop */
.backto-top {
  width: 35px;
  height: 35px;
  cursor: pointer;
  display: none;
}

.z-5 {
  z-index: 5;
}

.disply_none {
  display: none;
}

.disply_block {
  display: block;
}

@media (max-width: 992px) {
  label[id="icon"] {
    width: 30px;
    height: 24px;
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 2%;
    top: 6%;
    justify-content: space-between;
    flex-direction: column;
    z-index: 5;
    align-items: center;
  }

  label[id="icon"] > span {
    width: 100%;
    height: 5px;
    background: #fff;
  }

  .nav-box {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    position: fixed;
    opacity: 1;
    width: 100%;
    max-width: 400px;
    height: 100%;
    background: #000;
    z-index: 3;
    box-shadow: 0px 0px 19px 9px rgba(0, 0, 0, 0.1);
    transition: all 500ms linear;
  }

  .fix-lft {
    left: 0;
  }
}

@media (min-width: 992px) {
  .py-sm-163 {
    padding-top: 163px;
    padding-bottom: 163px;
  }
  .mt-lg-300 {
    margin-top: 300px !important;
  }
  .mb-lg-200 {
    margin-bottom: 200px;
  }
  .px-sm-100 {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
  .pt-sm-145 {
    padding-top: 145px;
  }
  .pt-sm-248 {
    padding-top: 248px;
  }
  .my-sm-160 {
    margin-top: 160px;
    margin-bottom: 160px;
  }
  .ps-sm-48 {
    padding-left: 48px;
  }
  .pt-lg-0 {
    padding-top: 0;
  }
  .pl-sm-78 {
    padding-left: 78px;
  }
  .min-h-810 {
    min-height: 810px;
  }
  .mt-100 {
    margin-top: 100px;
  }
}

.slick-track {
  display: flex !important;
}
